<%-include('../root/header')-%>
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h1> <u><%=event.name%></u> 的活動出席表 </h1>
					</header>

					<!-- <hr> -->
					<form method="post" action="#">
						<div class="row uniform">
							<div class="9u 12u$(small)">
								<input type="text" name="query" id="query" value="" style="height: 3em" placeholder="輸入參與者email" />
							</div>
							<div class="3u$ 12u$(small)">
									<input type="submit" value="搜尋" class="fit" style="height: 3em; line-height: 3em"/>
							</div>
						</div>
					</form>

					<div class="table-wrapper">
						<table>
							<thead>
							<tr>
								<th>參與者email</th>
								<th>報到時間</th>
								<th>刷退時間</th>
							</tr>
							</thead>
							<tbody>
                            <%if(thisattnd == null){ %>
								<h1>此活動尚未有任何簽到/刷退紀錄</h1>
							<% }else{ %>
								<% for(let i = 0;i < thisattnd.list.length; i++){ %>
								<tr>
									<td width="200px" style= "word-break:break-all"><%= thisattnd.list[i].email  %></td>
									<% if(thisattnd.list[i].time_in == undefined) {%>
										<td width="200px" style= "word-break:break-all"><%= thisattnd.list[i].time_in  %></td>
									<% } else { %>
										<td width="200px" style= "word-break:break-all"><%= thisattnd.list[i].time_in.toLocaleString()  %></td>
									<% } %>

									<% if(thisattnd.list[i].time_out == undefined) {%>
										<td width="200px" style= "word-break:break-all"><%= thisattnd.list[i].time_out  %></td>
									<% } else { %>
										<td width="200px" style= "word-break:break-all"><%= thisattnd.list[i].time_out.toLocaleString()  %></td>
									<% } %>
								</tr>
								<% } %>
							<% } %>
							</tbody>
						</table>
					</div>

					<!--button-->
					<header class="align-center">
                        <p>若要新增簽到或刷退紀錄，請洽詢系統服務人員。</p>
                    </header>
					<ul class="actions fit">
						<li><a href="＃" class="button fit">匯出出席名單</a></li>
					</ul>
					</div>
			</section>
<%-include('../root/footer')-%>