<%-include('../root/header')-%>
		<!-- Menu -->
		<nav id="menu">
		<script>
			function check_link(jpgid) {
				var x = document.getElementById(jpgid);
				if (x.style.display === 'none') {
					x.style.display = 'block';
				}else{
					x.style.display = 'none';
				}
			}
		</script>
    
                      
			<ul class="links">
				<li><a href="../../login_index">首頁</a></li>
				<li><a href="../../eventslist">活動列表</a></li>
				<li><a href="../../couponlist">電子禮券排行榜</a></li>
				<li><a href="./events">我辦的活動</a></li>
				<li><a href="myrecords.html">我參加的活動</a></li>
                <li><a href="qrcodelist.html">QRCode<img src="../images/fire.png" height="25" width="25"/></a></li>				
			</ul>
			<!--<ul class="actions vertical">
				<li><a href="#" class="button fit">Login</a></li>
			</ul>-->
		</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h1>我辦的活動</h1>
					</header>
					<hr>
					<div class="table-wrapper">
						<table>
							<thead>
							<tr>
								<th><img src="../images/code.jpeg" height="20" width="20"/></th>
								<th>活動名稱</th>
								<th>活動日期</th>
                                <th>活動地點</th>
								<th>投資點數</th>
								<th>參加人數</th>
								<th>修改/刪除</th>
								<th>活動狀態</th>
							</tr>
							</thead>

							<tbody>
								<% for(let i = 0;i < list_event.length;i++){ %>
								<tr>
									
									<%if(list_event[i].status == 'holding'){%>
										<!-- <td><a href="" data-toggle="modal" data-target="#event<%=i%>-qrModal"><%= list_event[i].shortid %></a></td> -->
										<td width="100px" style= "word-break:break-all"><a href="" data-toggle="modal" data-target="#event<%=i%>-qrModal">QRCode</a></td>

										<div class="modal fade" id="event<%=i%>-qrModal" tabindex="-1" role="dialog" aria-labelledby="qrModalLabel" aria-hidden="true">
										
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h3 class="modal-title" id="qrModalLabel">QR Code<%=i%></h3>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">
														
														<a href="#" onclick="check_link('check_in_code<%=i%>')"><h3>簽到條碼</h3></a>
														<div id="check_in_code<%=i%>" style="display:none;">
															<span class="image fit"><img src="/images/QRcode/qrcode_<%= list_event[i]._id %>_in.jpg" /></span>
														</div>	

														<a href="#" onclick="check_link('check_out_code<%=i%>')"><h3>刷退條碼</h3></a>
														<div id="check_out_code<%=i%>" style="display:none;">
															<span class="image fit"><img src="/images/QRcode/qrcode_<%= list_event[i]._id %>_out.jpg"/></span>
														</div>
													</div>

													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Close<%=i%></button>
													</div>
												</div>
											</div>
		
										</div>
									<%}else{%>
										<td>QRcode</td>
									<%}%>


									<td><%= list_event[i].name %></td>
									<td><%= list_event[i].time.toLocaleString() %> 
										<br>～<%= list_event[i].endtime.toLocaleString() %> </td>
									<td><%= list_event[i].location %></td>
									<td>
										<img src="../images/piggy-bank.png" height="20" width="20"/>
										<%= list_event[i].expense %>
									</td>
									<td><a href="/sponsor/events/<%= list_event[i]._id %>/attendancelist"><%=list_event[i].amount%></a></td>
									<!-- 測試用，先開放超過時間能夠修改和刪除，之後上線直接解除此處的註解並在ejs前面補齊即可  -->
									<!-- if(list_event[i].status == 'willhold'){%> -->
										<td><a href="" data-toggle="modal" data-target="#event-edit<%= i %>">修改</a>/
											<a href="" data-toggle="modal" data-target="#event-delete<%= i %>">刪除</a></td>
											<!-- <else{%>
										<td>已超過更改時間</td>
									}%> -->
									
									<%if(list_event[i].status == 'willhold'){%>
										<td>尚未開始</td>
									<%}else if( list_event[i].status == 'holding'){%>
										<td>正在進行 <br>
										<img src="../images/stop.png" height="15" width="15"/>
										<a href="" class="important" data-toggle="modal" data-target="#end<%= i %>">活動結束</a>
									</td>

									<%}else if( list_event[i].status == 'finish'){%>
										<td>活動已結束</td>
									<%}%>
<!-- 
									
									<td>
										<img src="../images/stop.png" height="20" width="20"/>
										<a href="" class="important" data-toggle="modal" data-target="#end">活動結束</a>
									</td> -->
	
									<!-- Modal -->
									<div class="modal fade" id="end<%= i %>" tabindex="-1" role="dialog" aria-labelledby="end_event" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h3 class="modal-title" id="event-deleteLabel">活動結束</h3>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<p>請注意！當你按下活動結束，該活動將開始發放點數。</p>
													<p>一旦開始發放點數，活動細則及出席表將再也無法更動。</p>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-dismiss="modal">取消<%= i %></button>
													<button type="button" onclick="location.href='/sponsor/events/<%= list_event[i]._id %>/SendMultiPoint'" class="btn btn-primary">活動結束</button>
	
												</div>
											</div>
										</div>
									</div>

									<!-- Modal -->
									<form method="post" action="/sponsor/events/<%= list_event[i]._id %>/update">
										<div class="modal fade" id="event-edit<%= i %>" tabindex="-1" role="dialog" aria-labelledby="event-editLabel" aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h3 class="modal-title" id="event-editLabel">修改活動資訊</h3>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body" style="text-align: left">

														<h3 class="inline">活動名稱：</h3>
														<div class="6u 12u$(xsmall) inline">
															<input type="text" name="name" id="event-editName" value="<%= list_event[i].name %>" placeholder="修改活動名稱" />
														</div>
														<br>

														<h3 class="inline">活動地點：</h3>
														<br>
														<div class="6u 12u$(xsmall) inline">
															<input type="text" name="location" id="event-editLocation" value="<%= list_event[i].location %>" placeholder="修改活動地點">
														</div>
														<br>
														
														<h3 class="inline">活動連結：</h3>
														<br>
														<div class="6u 12u$(xsmall) inline">
															<input type="text" name="link" id="event-editLink" value="<%= list_event[i].ncculink %>" placeholder="修改活動連結">
														</div>
														<br>

														<h3 class="inline">開始時間：</h3>
														<br>
														
														<input type="datetime-local" name="time" id="event-editDateTime" value="2019-01-01T00:00" placeholder="2014-09-18">
														<br>

														<h3 class="inline">結束時間：</h3>
														<br>
														<input type="datetime-local" name="endtime" id="event-editEndTime" value="2019-01-01T00:00" placeholder="2014-09-18">
														<br>

													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
														<input type="submit" class="btn btn-primary" value="Save"/>

													</div>
												</div>
											</div>
										</div>
									</form>
								
									<!-- Modal -->
									<form method="post" action="/sponsor/events/<%= list_event[i]._id %>/delete">
										<div class="modal fade" id="event-delete<%= i %>" tabindex="-1" role="dialog" aria-labelledby="event-deleteLabel" aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<p> <%= list_event[i]._id %> </p>
														<h3 class="modal-title" id="event-deleteLabel">刪除活動</h3>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">
														<p>請注意！當你按下Delete，該活動將被刪除。</p>
														<p>若有需要復原，請洽詢系統服務人員。</p>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
														<button type="submit" class="btn btn-primary">Delete</button>

													</div>
												</div>
											</div>
										</div>
									</form>
								</tr>

								<% } %>
						

							</tbody>
						</table>
					</div>

					<!--button-->
					<ul class="actions fit">
						<!-- <li><a href="#" class="button special fit">錢包查詢餘額</a></li> -->
						<li><a href="/sponsor/events/createevent" class="button fit">新增活動</a></li>
                        <!-- <li><a href="#" class="button alt fit" data-toggle="modal" data-target="#bar_line_chart">投資報酬率</a></li>

                        <div class="modal fade" id="bar_line_chart" tabindex="-1" role="dialog" aria-labelledby="event-editLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="return_on_investment">投資報酬率</h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body" style="text-align: left">

                                        <h3 class="inline">活動名稱：</h3><p class="inline">活動5</p>
                                        <div class="6u 12u$(xsmall) inline">
                                            <input type="text" name="name" id="event-editName" value="" placeholder="修改活動名稱" />
                                        </div>
                                        <br>
                                        <h3 class="inline">活動日期：</h3><p class="inline">時間5</p>
                                        <br>
                                        <input type="datetime-local" id="event-editDateTime" value="2018-06-10T19:30">
                                        <br>
                                        <br>
                                        <h3 class="inline">活動地點：</h3><p class="inline">地點5</p>
                                        <div class="6u 12u$(xsmall) inline">
                                            <input type="text" name="name" id="event-editLocation" value="" placeholder="修改活動地點" />
                                        </div>
                                        <br>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <input type="submit" class="btn btn-primary" value="Save"/>

                                    </div>
                                </div>
                            </div>
                        </div> -->
					</ul>
					</div>
			</section>
<%-include('../root/footer')-%>