<%- include('../root/header')-%>
<!-- Main -->
<section id="main" class="wrapper">
	<div class="inner">
		<header class="align-center">
			<h1>我參加的活動</h1>
		</header>
		<div class="table-wrapper">
			<table>
				<thead>
				<tr>
					<th>活動名稱</th>
					<th>活動ID</th>
					<th>活動日期</th>
					<th>活動地點</th>
					<th>主辦單位投資點數</th>
					<th>獲得點數</th>
					<th>報到紀錄</th>
					<th>刷退紀錄</th>
				</tr>
				</thead>
				<tbody>
				<% for(let i = 0; i < event_info.length; i++) {%>
				<tr>
					<td title="T2019082301"><%= event_info[i].event_id.name%></td>
					<td><%= event_info[i].event_id.shortid%></td>
					<td><%= event_info[i].event_id.time.toLocaleDateString()%></td>
					<td><%= event_info[i].event_id.location%></td>
					<td><%= event_info[i].event_id.expense%></td>

					<%if(event_info[i].event_id.SendPoint != undefined){%>
						<td><img src="../images/piggy-bank.png" height="20" width="20"/>
							<%=event_info[i].event_id.SendPoint%></td>
					<%}else{%>
							<td>活動尚未結束</td>
					<%}%>


					<%if(event_info[i].signin != undefined){%>
						<td><%=event_info[i].signin.toLocaleString('ko-KR', { timeZone: 'UTC' })%></td>
					<%}else{%>
							<td class="inline">尚未刷到</td>
					<%}%>


					<%if(event_info[i].signin != undefined){%>
						<td><%=event_info[i].signout.toLocaleString()%></td>
					<%}else{%>
							<td>尚未刷到</td>
					<%}%>

					<!--Modal 這裡不需要了QQ-->
					<div class="modal fade" id="record1" tabindex="-1" role="dialog" aria-labelledby="recordLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h3 class="modal-title" id="recordLabel">報到與刷退紀錄</h3>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>

								<div class="modal-body">
									<%if(event_info[i].signin != undefined){%>
										<h3 class="inline">報到時間：</h3><p class="inline"><%=event_info[i].signin.toLocaleString()%></p>
									<%}else{%>
											<h3 class="inline">報到時間：</h3><p class="inline">尚未刷到</p>
									<%}%>

									<br>

									<%if(event_info[i].signout != undefined){%>
										<h3 class="inline">刷退時間：</h3><p class="inline"><%=event_info[i].signout.toLocaleString()%></p>
									<%}else{%>
										<h3 class="inline">刷退時間：</h3><p class="inline">尚未刷退</p>
									<%}%>

									<br>

								</div>

								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
				</tr>
				<%};%>
				</tbody>
			</table>
		</div>

		<!--button-->
		<ul class="actions fit">
			<li><a href="#" class="button fit">錢包查看餘額</a></li>
		</ul>
		</div>
</section>
<%- include('../root/footer')-%>