<%-include('../root/header')-%>

	<% for(ev of EV){ %>

	<!-- QRcode List -->
	<h3 style="text-align: center">活動ID： <%=ev.shortid%></h3>
	<h3 style="text-align: center">活動名稱： <%=ev.name%></h3>
	<section id="three" class="wrapper">
		<div class="inner flex flex-3">
			<div class="content">
				<script>
					function check_in_button() {
						var x = document.getElementById('check_in_code');
						if (x.style.display === 'none') {
							x.style.display = 'block';
						}else{
							x.style.display = 'none';
							}
					}
				</script>

				<button onclick="check_in_button()">簽到條碼</button>

				<div id="check_in_code" style="display:none;">
					<div class="image fit">
						<img src="../images/QRcode/qrcode_<%= ev._id %>_in.jpg" />
					</div>
				</div>
			</div>					
			<div class="content">
				<script>
					function check_out_button() {
						var x = document.getElementById('check_out_code');
						if (x.style.display === 'none') {
							x.style.display = 'block';
						}else{
							x.style.display = 'none';
						}
					}
				</script>

				<button onclick="check_out_button()">刷退條碼</button>

				<div id="check_out_code" style="display:none;">
					<div class="image fit">
							<img src="../images/QRcode/qrcode_<%= ev._id %>_out.jpg" />
					</div>
				</div>
			</div>
		</div>
	</section>
	<hr>

	<%}%>

	<p style="text-align: center">若有需要查詢其他活動的QRCode，請按照以下步驟進行。</p>
    <p style="text-align: center">點選左上角menu -> 點選我辦的活動 -> 點選活動id</p>
<%-include('../root/footer')-%>