<%-include('../root/header')-%>
<script>
	function check_button(jpgid) {
		var x = document.getElementById(jpgid);
		if (x.style.display === 'none') {
			x.style.display = 'block';
		}else{
			x.style.display = 'none';
			}
	}
</script>
	<% for(ev of EV){ %>

	<!-- QRcode List -->
	<h3 style="text-align: center">活動ID： <%=ev.shortid%></h3>
	<h3 style="text-align: center">活動名稱： <%=ev.name%></h3>
	<section id="three" class="wrapper">
		<div class="inner flex flex-3">
			<div class="content">
				

				<button onclick="check_button('check_in_code<%=ev.shortid%>')">簽到條碼</button>

				<div id="check_in_code<%=ev.shortid%>" style="display:none;">
					<div class="image fit">
						<img src="../images/QRcode/qrcode_<%= ev._id %>_in.jpg" />
					</div>
				</div>
			</div>					
			<div class="content">
				
				<button onclick="check_button('check_out_code<%=ev.shortid%>')">刷退條碼</button>

				<div id="check_out_code<%=ev.shortid%>" style="display:none;">
					<div class="image fit">
							<img src="../images/QRcode/qrcode_<%= ev._id %>_out.jpg" />
					</div>
				</div>
			</div>
		</div>
	</section>
	<hr>

	<%}%>

	<p style="text-align: center">若有需要查詢其他活動的QRCode，請按照以下步驟進行。</p>
    <p style="text-align: center">點選左上角menu -> 點選我辦的活動 -> 點選活動id</p>
<%-include('../root/footer')-%>