<%-include('header')-%>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h1>活動列表</h1>
					</header>

					<form method="post" action="#">
						<div class="row uniform">
							<div class="9u 12u$(small)">
								<input type="text" name="query" id="query" value="" style="height: 3em" placeholder="輸入活動id" />
							</div>
							<div class="3u$ 12u$(small)">
								<input type="submit" value="搜尋" class="fit" style="height: 3em; line-height: 3em" />
							</div>
						</div>
					</form>

					
					<div class="table-wrapper">
						<table>
							<thead>
							<tr>
                                <th>活動ID</th>
								<th>活動名稱</th>
								<th>活動日期</th>
								<th>活動狀態</th>
								<th>詳細資訊</th>
							</tr>
							</thead>
							<tbody>
							<% for(let i = 0 ; i < _event.length; i++){ %>

							<tr>
                                <td width="150px" style= "word-break:break-all"><%=_event[i].shortid%></td>
								<td width="350px" style= "word-break:break-all"><%=_event[i].name%></td>
								<td width="300px" style= "word-break:break-all"><%=Time[i]%> 開始
									<br><%= endTime[i] %> 結束</td>

                                <%if(_event[i].status == 'willhold'){%>
                                    <td>尚未開始</td>
                                <%}else if(_event[i].status == 'holding'){%>
                                    <td>正在進行</td>

                                <%}else if(_event[i].status == 'finish'){%>
                                    <td>活動已結束</td>
								<%}%>
                                <td width="160px" style= "word-break:break-all"><a href="/admin/events/eventinfo/<%=_event[i]._id%>">詳細資訊</a></td>
                                </tr>
							<%}%>
							</tbody>

							<!--表格換頁
							<tfoot>
								<a href="#">更多活動</a>
							</tfoot> -->

						</table>
					</div>

					<!--button-->
					<ul class="actions fit">
						<li><a href="/admin/events/createevent_first" class="button fit">新增活動</a></li>

					</ul>
					</div>
			</section>
<%-include('../root/footer')-%>